<section class="TodoSection">
    <div class="TodoSection-title">
    <p class="TodoSectionTitle-text"><%= section_title %></p>
    <p class="TodoSection-remainingCount"><%= todos.completed.count %> / <%= todos.count %></p>
    </div>
    <ul>
    <%todos.each do |todo|%>
        <li class="TodoItem">
            <label class="TodoItem-container">
                <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
                    <input class="TodoItem-checkbox" name= "completed" type="checkbox" <%= todo.completed ? "checked": "" %> 
                    onClick="this.form.submit()" />
                <% end %>

                <p class='<%= todo.completed ? "TodoItem-completedText" : "" %>' >
                    <%= todo.todo_text %>
                </p>
                

                <% if show_dueDate %>
                    <p class="TodoItem-dueDate"> <%= todo.due_date.to_formatted_s(:short)%> </p>
                <% end %>

                <a href="javascript:void(0)" class="TodoItem-delete" >
                    <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
                        <input type="image" src="delete.png" >
                    <% end %>
                </a>

                <%= form_with(url: "/todos/important/#{todo.id}", method: "put") do %>
                    <input class="star" name= "important" type="checkbox" <%= todo.important ? "checked": "" %> 
                    onClick="this.form.submit()" />
                <% end %>
            </label>
        </li>
    <% end %>
    </ul>
</section>
